<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FFXIV URL Nameifier</title>
</head>
<body style="text-align: center;">
    <h1>Shorten your URL while adding in some Eorzean flavor!</h1>
    <div>
    <form action="/" method="POST">
        <input type="text" name="content" id="content" value="URL">
        <input type="submit" value="Namify!">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
</body>
</html>